In [2]:
print("Hello class")

Hello class

In [3]:
print(type("hello class!"))

<class 'str'>

In [84]:
print(type(5))

<class 'int'>

In [4]:
print("my name is Eyo Okon and i am 12 years old!")

my name is Eyo Okon and i am 12 years old!

In [5]:
print("50" + "51")

5051

In [6]:
print(10.9 + 3)

13.9

In [7]:
print(5==5)

True

In [87]:
print(5>5)

False

In [8]:
print(type("true"))

<class 'str'>

In [9]:
print(10==(2*5))

True

In [10]:
print(type(True))

<class 'bool'>

In [11]:
print(type(10.01))

<class 'float'>

In [88]:
name = input("enter your name here: ")
age = input("enter your age here: ")
print(f"My name is, {name} and i am {age} years old!")

enter your name here: bassey
enter your age here: 23
My name is, bassey and i am 23 years old!

In [89]:
a = 10
b = 25
##pythagoras theorem
c = ((a**2) + (b**2))**(1/2)
print(round(c, 3))

26.926

In [92]:
print(4**(1/3))

1.5874010519681994

In [95]:
name = input("enter name: ")
yb = float(input("enter year of birth: "))
print(f"my name is {name} and i am {2023-yb} years old")

enter name: Eyo
enter year of birth: 1997
my name is Eyo and i am 26.0 years old

In [96]:
name = input("enter name: ")
yb = int(input("enter year of birth: "))
print(f"my name is {name} and i am {2023-yb} years old")

enter name: jude
enter year of birth: 1998
my name is jude and i am 25 years old

# Conditionals

In [104]:
temp = float(input("enter temperature value: "))
if temp > 20:
    print("temperature is very high")
elif temp >=10 and temp <=18:
    print("temperature is moderate")
elif temp >=1 and temp <8:
    print("temperature is quite low")
elif temp <= 0:
    print("extremely deadly temperature")
else:
    print("input not understood")

enter temperature value: 56
temperature is very high

In [107]:
age = int(input("enter age: "))
sex = input("enter sex: ").lower()

if age >= 20:
    if sex == "f":
        print("an adult female")
    elif sex == "m":
        print("an adult male")
        
elif age >= 13 and age <= 19:
    if sex == "f":
        print("a teenage female")
    elif sex == "m":
        print("a teenage male")
        
elif age <= 12:
    if sex == "f":
        print("a child female")
    elif sex == "m":
        print("a child male")
        
else:
    print("No input available")

enter age: 12
enter sex: m
a child male

# Tempearture conversion

In [109]:
temp_value = float(input("enter temperature value here: "))
unit = input("enter unit->f/c: ").lower()

if unit == "f":
    temp = (temp_value - 32) * (5/9)
    if temp <= 100:
        kel = 273 + temp
        print(f"the temperature value of {temp_value} fahrenhiet is {round(kel, 3)} kelvin")
    else:
        print(f"the temperature value of {temp_value} fahrenhiet is {round(temp, 3)} celcuis")
        
elif unit == "c":
    temp = (temp_value * (9/5)) + 32
    print(f"the temperature value of {temp_value} celcius is {round(temp, 3)} fahrenheit")
else:
    print("input not understood")

enter temperature value here: 6
enter unit->f/c: f
the temperature value of 6.0 fahrenhiet is 258.556 kelvin

# ASSIGNMENT_ONE

# Question_1
BMI --> BODY MASS INDEX
range of value that constitutes high, low and average

In [ ]:
height = float(input("Enter your height in cm: "))
weight = float(input("Enter your weight in kg: "))

BMI = weight / (height/100)**2 #converting cemeters to meters

print(f"You BMI is {BMI}") #printing body mass index

if BMI <= 18.4:
    print("You are underweight or low.")
elif BMI <= 24.9:
    print("You are healthy. average")
elif BMI <= 29.9: 
    print("You are over weight. high")
elif BMI <= 34.9:
    print("You are severely over weight.")
elif BMI <= 39.9:
    print("You are obesity.")
else:
    print("You are severely obesity.")

In [ ]:
weight = float(input("enter weight value: "))
height = float(input("enter height value: "))
unit_weight = input("enter unit for weight: ").lower()
unit_height = input("enter unit for height: ").lower()
bmi = (weight/10)/(height**2)

if unit_weight == "n" and unit_height == "m":
    if bmi >=25:
        print(f"my bmi is {bmi} and it is high!")
    elif bmi >=18 and bmi<= 24.9:
        print(f"my bmis is {bmi} and itis average")
    else:
        print(f"this is my bmi value = {bmi} and it is low")


else:
    print("Unit not defined in the program!")
        
# if unit_weight == "p" and unit_height == "ft":
#     if bmi >=29:
#         print("your bmi is high")
#     elif bmi >=15 and bmi<= 28:
#         print("your bmi is average")
#     else:
#         print(f"this is my bmi value = {bmi} and it is low")

In [ ]:

weight = float(input("enter weight value (kg): "))
height = float(input("enter height value(m): "))
unit_weight = input("enter unit for weight: ").lower()
unit_height = input("enter unit for height: ").lower()
##bmi = (weight/10)/(height**2)

if unit_weight == "n" and unit_height == "m":
    bmi = (weight*10)/(height**2)
    if bmi >=25:
        print(f"my bmi is {bmi} and it is high!")
    elif bmi >=18 and bmi<= 24.9:
        print(f"my bmis is {bmi} and itis average")
    else:
        print(f"this is my bmi value = {bmi} and it is low")
    
##Convert     
elif unit_weight == "p" and unit_height == "ft":
    bmi = (weight * 2.2046) / ((height*3.28084)**2)
    print(f"{bmi}")
    
else:
    print("Unit not defined in the program!")

# List and Arrays

In [ ]:
x = True
b = ["ada", "tobi", 25, True, False, "James", "Ben", "dan",]
print(type(b))

In [ ]:
print(b)

In [ ]:
len(b[5])

In [ ]:
b[2:]

In [ ]:
index_values = b.index("James")
index_values

In [ ]:
pos = b.index(25)
after = b[pos+1:]
print(after)

In [ ]:
pos = b.index(25)
print(pos)

In [ ]:
after = b[pos+1:]
print(after)

In [ ]:
before = b[:pos]
print(before)

# class work

1. if the age to vote is from 18 and above
2. and the condition to vote requires a pvc
write a program that ask users for their age and if they have pvc if they do, grant them access to vote if they dont do not grant them access to vote
question 2
if the person is qualified to vote
if the person is from south, east they should vote obi if the person is from north, south west vote asiwju vote atiku

In [ ]:
age = int(input("please Enter your age here: "))
pvc = bool(input("Enter True or False: "))
t = True
f = False
if age > 17 and pvc == t:
    
    print("access granted to vote")
    
elif age >18 and pc == f:
   
    print("access denied to vote")
    
else:
    print("access denied to vote!!!")

1. if the age to vote is from 18 and above
2. and the condition to vote requires a pvc
write a program that ask users for their age and if they have pvc if they do, grant them access to vote if they dont do not grant them access to vote
question 2
if the person is qualified to vote
if the person is from south, east they should vote obi if the person is from north, south west vote asiwju vote atiku

In [ ]:
age = int(input("enter age: "))
pvc = input("do you have a pvc?: ")
voter = input("where is voter from?: ")

if age >= 18 and pvc == "yes":
    if voter == "south-south" or voter == "east":
        print("vote obi")
    elif voter == "north" or voter == "south-west":
        print ("vote asiwaju!!!")
    else:
        print("vote atiku")
        
elif age < 18 and pvc == "no":
    print("access denied to vote")
else:
    print("access denied to vote!!!")

- if change in temperature of a house defines the "livability" of a house
define t1 as input
define t2 as input
calculate the temperature change

- if the temp is less than 0 celcius
define kelvin by adding temperature + 273
if temperature is greater than 500 kelvin say temperature is extremely low
if temperature is less than 500 kelvin say temperature is moderately low


- if the temp is greater than 0 celcius, say temperature is too high

In [ ]:
t1 = float(input("enter t1: "))
t2 = float(input("enter t2: "))
temp = t2-t1

if temp < 0:
    kelvin = temp + 273
    if kelvin > 500:
        print(f"{kelvin}kelvin: temperature is extremely low")
    elif kelvin < 500:
        print(f"{kelvin}kelvin: temperature is moderrately low")
        
elif temp > 0:
    print(f"{temp}celcuis: temperature is too high")
    
else:
    print("inputs not understood!!!")

# Arrays 
-sort()
-append()

In [ ]:
a = [1, 5, 10,3]
a.sort()
print(a)

In [ ]:
b = [6, 9, 10, 11]

In [ ]:
c = a + b
print(c)

In [ ]:
c.append(True)
print(c)

In [ ]:
k =[5, 10, 11]
c.append(k)
print(c)

# Forloop

In [ ]:
arr = [2, 4, 7, 9, 1]
for i in arr:
    print(i)

In [ ]:
for i in arr:
    if i%2 !=0: 
        print(i) #print all the odd number in the array 
                 #% means division sign, i stand for index

In [ ]:

arr = [2, 4, 7, 9, 1]
arr1 = []
arr2 = []
for i in arr:
    if i%2 != 0:
        arr1.append(i) 
    if i%2 == 0:
        arr2.append(i) 
print(arr2)# print all the even number in the array
print(arr1)# print all the odd number in the arr

In [ ]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    print(i)

In [ ]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    print(a)

In [ ]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    if type(i) == bool:
        print(i)

In [ ]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    if type(i) == float:
        print(i)

In [ ]:
print(i)

In [ ]:
p = []
for i in a:
    if type(i) == bool:
        p.append(i)
print(p)

In [ ]:
numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i < 10:
        arr.append(i)
print(arr)

In [ ]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    if type(i) == str:
        print(i)

In [ ]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    if type(i) == int:
        print(i)

In [ ]:
numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
for i in numb:
    print(i)

In [ ]:

numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i > 10:
        arr.append(i)
print(arr)

In [ ]:

numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i%2 != 0:
        arr.append(i)
print(arr)

In [ ]:
numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i%2 == 0:
        arr.append(i)
print(arr)

In [ ]:
odd_numb = []
even_numb = []
for i in numb:
    if i%2 == 0:
        even_numb.append(i)
    elif i%2 !=0:
        odd_numb.append(i)
print(odd_numb)
print(even_numb)

In [ ]:
arrays = [10, 3, 56, 76, 45, 37, 5, 10]
print(arrays)

In [ ]:
for i in arrays:
    if i == 10:
        print(i)

In [ ]:
for i in enumerate(arrays):
    print(i)

In [ ]:
for i, b in enumerate(arrays):
    print(i, b)

In [ ]:
for i, b in enumerate(arrays):
    if b== 10:
        print(i)

In [ ]:
for i in arrays:
    if i == 10:
        print(arrays.index(i))

In [ ]:
z = [10, 1, 3, 4]
z.index(10)

In [ ]:
z = [13, 46, 56, 8, 10, 10]
for i in z:
    if i ==10:
        print(z.index(i))

In [ ]:
for i, b in enumerate(z):
    if b == 10:
        print(i)

In [ ]:
k = [5, 1, 5, 10, 11, 9, 5, 1]

index_values = []
for i, b in enumerate(k):
    if b == 5:
        index_values.append(i)
        print(index_values)

In [ ]:
for i in enumerate(k):
    print(i)

In [ ]:
index_values[2]

In [ ]:
print(index_values)

In [ ]:
index_values[1]

In [ ]:
k[index_values[1]+1: index_values[2]]

In [ ]:
k[index_values[1]+1:index_values[2]]

# Assignment_2

1.lists = [11, 10, 8, 12, 1, 5, 6, 8, 10, 1, 8, 22, 8, 7, 4]
get the index values of 8.
 get all the values after the second index value of 8.

2.get all the food that start with a and store it inside and array
  foods = ["apple", "quava", "gari", "beans", "accara", "acute-bones"]

In [ ]:
lists = [11, 10, 8, 12, 1, 5, 6, 8, 10, 1, 8, 22, 8, 7, 4]
print(lists)

In [ ]:
for i in enumerate(lists):
    print(i)

In [ ]:
for i, b in enumerate(lists):
    print(i, b)

In [ ]:
for i, b in enumerate(lists):
    if b == 8:
        print(i)

In [ ]:
index_val = []
for i, b in enumerate(lists):
    if b == 8:
        index_val.append(i)
print(index_val)

In [ ]:
index_val[2]

In [ ]:
lists[index_val[1]+1:index_val[3]]

In [ ]:
foods = ["apple", "quava", "gari", "beans", "accara", "acute-bones"]
for i, b in enumerate(foods):
    print(i, b)

In [ ]:

foods = ["apple", "quava", "gari", "beans", "accara", "acute-bones"]
index_vals = []
for i, b in enumerate(foods):
    if b == "apple":
        index_vals.append(b)
        print(index_vals)

In [ ]:
a_foods = []
for i in range(len(foods)):
    pos = foods[i]
    if pos[0] == "a":
        a_foods.append(pos)
print(a_foods)

In [ ]:
final_foods = []
for i in foods:
    if i[0] == "a":
        final_foods.append(i)
print(final_foods)

3. if v is found in any of the food, print the food

In [ ]:
for i in foods:
    if "v" in i:
        print(i)

In [ ]:
arry = ["tobi", "Caleb", "camy", "samCy"]
#get all the elements that has c in it

In [ ]:
arry = ["tobi", "Caleb", "camy", "samCy"]
for i in arry:
    if "c" in i:
        print(i)

In [ ]:
arry = ["tobi", "Caleb", "camy", "samCy"]

for i, b in enumerate(arry):
    print(i,b)

In [ ]:
arry = ["tobi", "Caleb", "camy", "samCy"]
arry_name = []
for i in arry:
    a = i.lower()
    arry_name.append(a)
print(arry_name)

In [ ]:
arry = ["tobi", "Caleb", "camy", "samCy"]
for i in range(0, len(arry)):
    if "c" in arry_name[i]:
        print(arry[i])

# RANGE

In [ ]:
for i in range(0, 10+1):
    print(i, i+2)

In [ ]:
for i in range(0, 10+1):
    print(i)

In [ ]:
for i in range(0, 10):
    print(i)

In [ ]:
arr =[10, 12 ,8, 6]
for i in range(0, len(arr)):
    print(i, arr[i])

In [ ]:
arr1 = [10, 15, 25, 30]
arr2 = [14, 13, 17, 24]
arr_diff = []
if len(arr) == len(arr2):
    for i in range(0, len(arr2)):
        diff = arr2[i] - arr1[i]
        arr_diff.append(diff)
    print(True)

In [ ]:
arr1 = [10, 15, 25, 30]
arr2 = [14, 13, 17, 24]
arr_diff = []
if len(arr1) == len(arr2):
    for i in range(0, len(arr2)):
        diff = arr2[i] - arr1[i]
        arr_diff.append(diff)
print(arr_diff)
#else:
   # print(False)
#print(arr_diff)

In [ ]:
names = ["jude", "caleb", "hilda", "denim"]
surname =["emmanuel", "denise", "joe", "kelvin"]
for i in range(0, len(names)):
    fullname = f"{names[i]}, {surname[i]}"
    print(fullname)

In [ ]:
names = ["jude", "caleb", "hilda", "denim"]
surname =["emmanuel", "denise", "joe", "kelvin"]
all_name = []
for i in range(0, len(names)):
    fullname = f"{names[i]}, {surname[i]}"
    #print(fullname)
    all_name.append(fullname)
print(all_name)

# Home_work

In [ ]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"]
ans = ["Jenny Yola", "Obi Tami", "Duke Philips"]

In [ ]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"]
arry_name = []
for i in range(0, len(names)):
    a = names[i][0].upper() + names[i][1:]
    b = second_name[i][0].upper() + second_name[i][1:]
    fullname = f"{a} {b}"
    arry_name.append(fullname)
print(arry_name)

In [ ]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"] 
ans = ["jennY yolA", "obI tamI", "dukE philipS"]
 
for i in range(0, len(second_name)):
    a = second_name[i][-1]
    print(a)

In [ ]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"] 
ans = ["jennY yolA", "obI tamI", "dukE philipS"]
arry2_name = []
for i in range(0, len(names)):
    a = names[i][:-1] + names[i][-1].upper()
    b = second_name[i][:-1] + second_name[i][-1].upper()
    fullname = f"{a} {b}"
    arry2_name.append(fullname)
print(arry2_name)

In [ ]:

 arr = [10, 20, 20, 40, 21]
b = 0
for i in arr:
    b = i + b
    print(b)# printing inside the loop

In [ ]:

 arr = [10, 20, 20, 40, 21]
b = 0
for i in arr:
    b = i + b
print(b)# To print only the last number in the arr, you remove the print from the loop

In [ ]:

 arr = [10, 20, 20, 40, 21]
b = 0
for i in arr:
    print(i + b)# is not store inside the b

In [ ]:
arr = [10, 20, 20, 40, 21]
n = len(arr)
print(n)

In [ ]:
arr = [10, 20, 20, 40, 21]
n = len(arr)
b = 0
for i in arr:
    b = i + b
mean_val = b/n
print(mean_val)

In [ ]:
arr = [10, 20, 20, 40, 21, 45,56,70]
arr.sort()
print(arr)

In [ ]:
mid = int(len(arr)/2)
if len(arr)%2 == 0:
    mid2 = mid - 1
    median = (arr[mid] + arr[mid2])/2
    print(median)
else:
    median = arr[mid]
    print(median)

In [ ]:
mid = int(len(arr)/2)
print(mid)

In [ ]:
mid2 = mid - 1
print(mid2)

In [ ]:
mid = int(len(arr)/2)
if len(arr)%2 == 0:
    mid2 = mid - 1
    median = (arr[mid] + arr[mid2])/2
    print(median)

In [ ]:
arr_val = [10, 16, 20, 22]
arr_val.sort()
print(arr_val)

In [ ]:
mid = int(len(arr_val))
print(mid)

In [ ]:
arr_val = [10, 16, 20, 22]
mid = int(len(arr_val)/2)
print(mid)

In [ ]:
mid = int(len(arr_val)/2)
if len(arr)%2 == 0:
    mid2 = mid - 1
    median = (arr_val[mid] + arr_val[mid2])/2
    print(median)

In [ ]:
b = 0
for i in arr_val:
    b = i + b
    print(b)

In [ ]:
b = 0
for i in arr_val:
    b = i + b
print(b)

In [ ]:
arr_diff = []
for i in arr_val:
    j = b - i
    arr_diff.append(j)
print(arr_diff)

In [ ]:
arr_diff = []
b = 0
for i in arr_val:
    b = b + i
for i in arr_val:
    j = b - i
    arr_diff.append(j)
print(arr_diff)

In [ ]:
arr_diff = []
b = 0
for i in arr_val:
    b = b + i
for i in arr_val:
    j = b-i
    arr_diff.append(j)
print(arr_diff)

In [ ]:
arr_val = [10, 16, 20, 22]
n = len(arr_val)
b = 0
for i in arr_val:
    b = i + b
mean_val = b/n
print(mean_val)

In [ ]:
arr = ["james", 10, 11, "constance", "tobi", 22.5, "jeremiah"]
for i in arr:
    print(i)

In [ ]:
arr = ["james", 10, 11, "constance", "tobi", 22.5, "jeremiah"]
val = []
for i in arr:
    if type(i) == str:
        str_len = len(i)
        val.append(str_len)
    else:
        val.append(i)
b = 0
for i in val:
    b = i + b
print(b)

In [ ]:

arr3 = ["tami", "claire", 25, 10, "jose", 12.5]

for i in arr3:
    if type(i) == int or type(i) == float:
        b = i + b
print(b)

In [ ]:
arr1 = [10, 15, 21]
arr2 = [8, 6, 10]
if len(arr1) == len(arr2):
    for i in range(0, len(arr1)):
        a = arr1[i] - arr2[i]
        print(a)
else:
    print("unequal length") or print("equal lenght")

In [ ]:
arr1 = [10, 15, 21]
arr2 = [8, 6,]
if len(arr1) == len(arr2):
    for i in range(0, len(arr1)):
        a = arr1[i] - arr2[i]
        print(a)
else:
    k = len(arr1) -len(arr2)
    for i in range(k):
        arr2.append(0)
    for i in range(0, len(arr1)):
        d = arr1[i] - arr2[i]
        print(d)

In [ ]:
arr1 = [10, 15]
arr2 = [8, 6, 10, 8, 11]
if len(arr2) == len(arr1):
    for i in range(0, len(arr2)):
        a = arr2[i] - arr1[i]
        print(a)
else:
    k = len(arr2) -len(arr1)
    for i in range(k):
        arr1.append(0)
    for i in range(0, len(arr2)):
        d = arr2[i] - arr1[i]
        print(d)

In [ ]:
arr1 = [10, 15]
arr2 = [8, 6, 10, 8, 11]
k = len(arr1) - len(arr2)
print(k)

In [ ]:
arr1 = [10, 15]
arr2 = [8, 6, 10, 8, 11]
k = int(str(len(arr1) - len(arr2))[1])
print(k)

# FACTORIAL CALCULATOR

In [ ]:
#k =10!
fact = 4
b = 1
for i in range(0+1, fact+1):
    b = i*b
print(b)

In [ ]:
fact = int(input("enter factorial_vals: "))
if type(fact) == int:
    b = 1
    for i in range(0+1, fact+1):
        b = i * b
    print(b)
else:
    print("Note factorialable!!!")

1. -b+ or root(b2-4ac)/2
2. standard deviation
2x2 + 4x - 4 = 0

In [29]:
import cmath
a = int(input("enter the value of (a! = 0): ")) #when a is not equals to zero
b = int(input("enter the value of b: "))
c = int(input("enter the value of c: "))

# to find disccriminants

d = (b**2) - (4*a*c)

#to find the roots
x1 = ((-b-cmath.sqrt(d)) / (2*a))
x2 = ((-b+cmath.sqrt(d)) / (2*a))
print("the values of: ", x1,x2)

enter the value of (a! = 0): 4
enter the value of b: 5
enter the value of c: 6
the values of:  (-0.625-1.0532687216470449j) (-0.625+1.0532687216470449j)

In [25]:
distrb = [1, 2, 7, 8, 9, 11, 21, 15]
sum_val = 0
for i in distrb:
    sum_val = i + sum_val
print(sum_val) # the sum sum symbol is E

74

In [26]:
mean_val = round(sum_val/len(distrb),3)
print(mean_val) # mean symbol is M

9.25

In [ ]:
arr_distrb =[]
for i in distrb:
    dist = round((i - mean_val)**2, 3)
    arr_distrb.append(dist)
print(arr_distrb)

In [ ]:
sum_distrb = 0
for i in arr_distrb:
    sum_distrb = i + sum_distrb
print(sum_distrb)

In [ ]:
mean_distrb = sum_distrb/len(distrb)
print(mean_distrb)

In [ ]:
std_dev = round(mean_distrb**(1/2),3)
print(std_dev)

# FUNCTIONS

In [ ]:
# - Re-usbale block of codes

In [ ]:
# y(x) = 2x + 1
# y(2) = 2*2 +1 = 5
# y = 5

In [ ]:
x = 2
b = (2 * x) + 1
print(b)

In [ ]:
def y_function(x):
    b = (2 * x) + 1
    return b

print(y_function(x=8))

In [ ]:
arr_val = [2, 10, 11, 6, 9]

In [ ]:
sum_val = 0
for i in arr_val:
    sum_val = i + sum_val
print(sum_val)

In [ ]:
def sum_arr(x):
    sum_val = 0
    for i in x:
        sum_val = i + sum_val
    return sum_val

arr_val = [15, 2, 10, 11, 6, 9, 11]
print(sum_arr(x=arr_val))

In [ ]:
###write a program that can can get the max value in array and divide it by the minimum value in that array

In [ ]:
arr_val = [2, 10, 11, 6, 9, 21, 13, 16, 7]

In [ ]:
def minimum_val(x):
    x.sort()
    min_val = x[0]
    return min_val

min_ = minimum_val(x=arr_val)
print(min_)

In [ ]:
def maximum_val(x):
    x.sort()
    max_val = x[-1]
    return max_val

max_ = maximum_val(x=arr_val)
print(max_)

In [ ]:
print(max_/min_)

In [ ]:
def minimum_value(x):
    return f"eyo is a {x}"

print(minimum_value(x="boy"))

In [ ]:
arr_val = [2, 10, 11, 6, 9, 21, 13, 16, 7]
arr_val.sort()
print(arr_val[-1])

In [ ]:
def arr_maximum(arr_val):
    arr_val.sort()
    max_val = arr_val[-1]
    return max_val

x = [6, 7, 1, 3, 2]
arr_maximum(arr_val=x)

In [ ]:
def arr_maximum(arr_val):
    arr_val.sort()
    min_val = arr_val[0]
    return min_val

x = [6, 7, 1, 3, 2]
arr_maximum(arr_val=x)

In [ ]:
arr = [1, 10, 6, 7, 11]

sum_val = 0
for i in arr:
    sum_val = i + sum_val
#print(sum_val)
mean_val = sum_val/len(arr)
print(mean_val)

In [ ]:
def mean_val(arr):
    sum_val = 0
    for i in arr:
        sum_val = i + sum_val

    mean_val = sum_val/len(arr)
    return round(mean_val, 3)

p = [8, 16, 12, 13, 2, 4]
mean_val(arr=p)

In [ ]:
name1 = ["george",  "philip", "katty"]
name2 = ["akpan", "odiegwu", "johnson"]

#==> [George Akpan, Philip Odiegwu, Katty Johnson]

In [ ]:
final_names = []
for i in range(0, len(name1)):
    name1_ = name1[i][0].upper() + name1[i][1:]
    name2_ = name2[i][0].upper() + name2[i][1:]
    fullnames = f"{name1_} {name2_}"
    final_names.append(fullnames)
print(final_names)

In [ ]:
def get_names(name1, name2):
    final_names = []
    for i in range(0, len(name1)):
        name1_ = name1[i][0].upper() + name1[i][1:]
        name2_ = name2[i][0].upper() + name2[i][1:]
        fullnames = f"{name1_} {name2_}"
        final_names.append(fullnames)
    return final_names

In [ ]:
a = ["john", "zazi"]
b = ["lenin", "faith"]
get_names(name1=a, name2=b)

In [ ]:
###write a function that will calculate the factorial of any integer
### write a function that will calculate the number of vowel sound in a string

In [ ]:
# "aeiou"
# str_val = "mathew"
# return 2

In [22]:
def fact(n):
    if n < 0:
        return 'does not exist'# factorial doesn't exist because n is less than 0
    elif n == 0:
        return 1 # factorial exist because n is greater than 0 
    else:
        return n * fact(n-1)
fact_val = int(input("Enter number: "))
print(fact(fact_val))

Enter number: 6
720

In [ ]:
vowels = ["a", "e", "i", "o", "u"]
found_vowels = []
for i in "jane":
    if i in vowels:
        found_vowels.append(i)
print(len(found_vowels))

In [ ]:
def count_vowels(x):
    found_vowels = []
    vowels = "aeiou"
    v_val = "_".join(vowels)
    new_val = v_val.split("_")
    for i in x:
        if i in vowels:
            found_vowels.append(i)
    return len(found_vowels)
count_vowels(x ="jane")

In [ ]:
def number_vowels(x):
    vowels = ["a", "e", "i", "o", "u"]
    found_vowels = []
    for i in  x:
        if i in vowels:
            found_vowels.append(i)
    return len(found_vowels)
number_vowels(x= "ibiso")

In [ ]:
b = "ibiso"
c = list(set(b))
print(c)

In [ ]:
def number_vowels(x):
    vowels = ["a", "e", "i", "o", "u"]
    found_vowels = []
    for i in  x:
        if i in vowels:
            found_vowels.append(i)
    count_list = list(set(found_vowels))
    return len(count_list)
number_vowels(x= "ibiso")

In [ ]:
x = ["i", "b", "i", "s", "o"]
set(x)

# list comprehension

In [14]:
arr = [1, 3, 4, 10, 4]
k = []
for i in arr:
    if i%2 == 0:
        k.append(i)
print(k)

[4, 10, 4]

In [15]:
a = [i for i in arr if i%2 == 0]
b = [i for i in arr if i%2 != 0]
print(a)
print(b)

[4, 10, 4]
[1, 3]

In [16]:
print(arr)

[1, 3, 4, 10, 4]

In [17]:
j = [round((i**(1/2)), 2) for i in arr  if i%2 == 0]
print(j)

[2.0, 3.16, 2.0]

In [ ]:
d = [[i*2, i/2, (i**(1/2))] for i in arr if i%2 == 0]
print(d)

In [ ]:
for i in d:
    print(i)

In [ ]:
#write a function that can count the strings in an array and arrange from the highest count to the lowest counts
# arr_str = ["ubong", "eyo", "johnson", 'mina']
# ===> ["johnson", "ubong", "mina", "eyo"]

In [ ]:
arr_str = ["Ubong", "Eyo", "Johnson", "Mina"]
arr_list = list(set(arr_str)) 
print(arr_list)

In [ ]:
def printsorted(arr_str):
    print(*sorted(arr_str, key = len))
arr_str = ["Ubong", "Eyo", "Johnson", "Mina"]
printsorted(arr_str)

In [1]:
arr_str = ["Ubong", "Eyo", "Johnson", "Mina"]
arr_str.sort()
print(arr_str)

['Eyo', 'Johnson', 'Mina', 'Ubong']

In [4]:
arr_str = ["Ubong", "Eyo", "Johnson", "Mina"]
count = []
for i in arr_str:
    count_vals = len(i)
    count.append(count_vals)
print(count)

[5, 3, 7, 4]

In [5]:
count.sort()
print(count)

[3, 4, 5, 7]

In [8]:
count.reverse()
print(count)

[7, 5, 4, 3]

In [9]:
new_arr = []
for i in count:
    for n in arr_str:
        if len(n) == i:
            new_arr.append(n)
print(new_arr)

['Johnson', 'Ubong', 'Mina', 'Eyo']

In [11]:
def arrange_arr(arr_str):
    count = []
    new_arr = []
    for i in arr_str:
        count_vals = len(i)
        count.append(count_vals)
    count.sort()
    count.reverse()
    for i in count:
        for n in arr_str:
            if len(n) ==i:
                new_arr.append(n)
    return new_arr
arr_str = ["Ubong", "Eyo", "Johnson", "Mina", "Philips"]
arrange_arr(arr_str)

['Johnson', 'Philips', 'Johnson', 'Philips', 'Ubong', 'Mina', 'Eyo']

# LIST OF LIST

In [12]:
arr_lst = [[1,2,3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
print(arr_lst)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [15]:
for i in arr_lst:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10, 11, 12]

In [17]:
for i in range(0, len(arr_lst)):
    sum_val = 0
    sum_arrs = []
    for n in arr_lst[i]:
        sum_val = n + sum_val
    sum_arrs.append(sum_val)
    print(sum_arrs)

[6]
[15]
[24]
[33]

In [21]:
for i in range(0, len(arr_lst)):
    sum_val = 0
    sum_arrs = []
    for n in arr_lst[i]:
        sum_val = n + sum_val
    sum_arrs.append(f"{arr_lst[i]} the sum value is {sum_val}")
    print(sum_arrs)

['[1, 2, 3] the sum value is 6']
['[4, 5, 6] the sum value is 15']
['[7, 8, 9] the sum value is 24']
['[10, 11, 12] the sum value is 33']

In [23]:
arr_lst = [[1,2,3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
def sum_funct(x):
    sum_x = 0
    for i in x:
        sum_x = i + sum_x
    return sum_x
for i in arr_lst:
    func = sum_funct(x=i)
    print(func)

6
15
24
33

In [30]:
# lst_arr = [[5, 6, 7], [9, 7, 11], [12, 4, 9]]
# find the mean for each of the list inside the array

In [14]:
lst_arr = [[5, 6, 7], [9, 7, 11], [12, 4, 9], [20, 40, 75]]
print(lst_arr)

[[5, 6, 7], [9, 7, 11], [12, 4, 9], [20, 40, 75]]

In [15]:
for i in lst_arr:
    print(i)

[5, 6, 7]
[9, 7, 11]
[12, 4, 9]
[20, 40, 75]

In [16]:
for i in range(0, len(lst_arr)):
    sum_val = 0
    sum_list = []
    for n in lst_arr[i]:
        sum_val = n + sum_val
    sum_list.append(sum_val)
    print(sum_list)

[18]
[27]
[25]
[135]

In [17]:
for i in range(0, len(lst_arr)):
    length = len(lst_arr[i])
    sum_val = 0
    for n in lst_arr[i]:
        sum_val = n + sum_val
    mean = round(sum_val/length, 3)
    print(mean)

6.0
9.0
8.333
45.0

In [19]:
lst_arr = [[5, 6, 7], [9, 7, 11], [12, 4, 9], [20, 40, 75],
          [70,30,10]]
sum_list = []
for i in range(0, len(lst_arr)):
    length = len(lst_arr[i])
    sum_val = 0
    for n in lst_arr[i]:
        sum_val = n + sum_val
    mean = round(sum_val/length, 3)
    sum_list.append(mean)
print(sum_list)

[6.0, 9.0, 8.333, 45.0, 36.667]

In [29]:
lst_arr = [[5, 6, 7], [9, 7, 11], [12, 4, 9], [20, 40, 75]]
def total_function(x):
    total = 0
    for i in x:
        total = i + total
    return total
for i in lst_arr:
    func = total_function(x=i)
    print(func)

18
27
25
135

In [32]:
lst_arr = [[5, 6, 7], [9, 7, 11], [12, 4, 9], [20, 40, 75]]
avg = []
def total_function(x):
    total = 0
    for i in x:
        total = i + total
    return total
for i in lst_arr:
    func = total_function(x=i)
    mean = round(func/len(i), 3)
    avg.append(mean)
print(avg)

[6.0, 9.0, 8.333, 45.0]

# DATA_FRAME

In [2]:
# -Dataframe is a basically a table
# -series is basically an array

In [54]:
import pandas as gp
age = [10, 20, 30, 40, 50]
names = ['jake', 'jude', 'philia', 'denile', 'petre']

In [58]:
gp.DataFrame([age, names])

      0     1       2       3      4
0    10    20      30      40     50
1  jake  jude  philia  denile  petre

In [59]:
f1 = gp.DataFrame([age, names]).T

In [60]:
f1

    0       1
0  10    jake
1  20    jude
2  30  philia
3  40  denile
4  50   petre

In [61]:
f1.columns = ["age", "names"]
f1

  age   names
0  10    jake
1  20    jude
2  30  philia
3  40  denile
4  50   petre

In [62]:
f1.to_csv("first_f.csv", index=False)

In [63]:
f1

  age   names
0  10    jake
1  20    jude
2  30  philia
3  40  denile
4  50   petre

In [64]:
gp.DataFrame(age, names)

         0
jake    10
jude    20
philia  30
denile  40
petre   50

In [65]:
f2 = gp.DataFrame(age, names)
f3 = f2.reset_index()
f3

    index   0
0    jake  10
1    jude  20
2  philia  30
3  denile  40
4   petre  50

In [66]:
f3.columns = ["name", "age"]
f3

     name  age
0    jake   10
1    jude   20
2  philia   30
3  denile   40
4   petre   50

In [67]:
f3['name'].values

array(['jake', 'jude', 'philia', 'denile', 'petre'], dtype=object)

In [68]:
# create a new column that has the name count

In [69]:
count_arr = []
for i in f3['name'].values:
    counts =len(i)
    print(i)

jake
jude
philia
denile
petre

In [70]:
count_arr = []
for i in f3['name'].values:
    counts = len(i)
    count_arr.append(counts)
f3['name_counts'] = count_arr
f3

     name  age  name_counts
0    jake   10            4
1    jude   20            4
2  philia   30            6
3  denile   40            6
4   petre   50            5

In [72]:
f3['age'].values

array([10, 20, 30, 40, 50], dtype=int64)

In [73]:
f = []
for i in f3['age'].values:
    if i > 20:
        f.append('Adult')
    else:
        f.append('Child')
f3['status'] = f
f3

     name  age  name_counts status
0    jake   10            4  Child
1    jude   20            4  Child
2  philia   30            6  Adult
3  denile   40            6  Adult
4   petre   50            5  Adult

In [74]:
f3.iloc[0].values

array(['jake', 10, 4, 'Child'], dtype=object)

In [75]:
f3.shape

(5, 4)

In [76]:
f3.shape[0]

5

In [79]:
for i in range(f3.shape[0]):
    x = f3.iloc[i].values
    print(x)

['jake' 10 4 'Child']
['jude' 20 4 'Child']
['philia' 30 6 'Adult']
['denile' 40 6 'Adult']
['petre' 50 5 'Adult']