In [5]:
print("Hello class")

Hello class

In [2]:
print(type("hello class!"))

<class 'str'>

In [4]:
print("my name is Eyo Okon and i am 12 years old!")

my name is Eyo Okon and i am 12 years old!

In [7]:
print("50" + "51")

5051

In [8]:
print(10.9 + 3)

13.9

In [9]:
print(5==5)

True

In [11]:
print(type("true"))

<class 'str'>

In [12]:
print(10==(2*5))

True

In [13]:
print(type(True))

<class 'bool'>

In [14]:
print(type(10.01))

<class 'float'>

In [15]:
name = input("enter your name here: ")
age = input("enter your age here: ")
print(f"My name is, {name} and i am {age} years old!")

enter your name here: Eyo Okon
enter your age here: 15
My name is, Eyo Okon and i am 15 years old!

In [16]:
a = 10
b = 25
##pythagoras theorem
c = ((a**2) + (b**2))**(1/2)
print(round(c, 3))

26.926

In [17]:
print(4**(1/3))

1.5874010519681994

In [3]:
name = input("enter name: ")
yb = float(input("enter year of birth: "))
print(f"my name is {name} and i am {2023-yb} years old")

enter name: Eyo
enter year of birth: 1998
my name is Eyo and i am 25.0 years old

In [4]:
name = input("enter name: ")
yb = int(input("enter year of birth: "))
print(f"my name is {name} and i am {2023-yb} years old")

enter name: Eyo
enter year of birth: 1998
my name is Eyo and i am 25 years old

# Conditionals

In [1]:
temp = float(input("enter temperature value: "))
if temp > 20:
    print("temperature is very high")
elif temp >=10 and temp <=18:
    print("temperature is moderate")
elif temp >=1 and temp <8:
    print("temperature is quite lowe")
elif temp <= 0:
    print("extremely deadly temperature")
else:
    print("input not understood")

enter temperature value: 45
temperature is very high

In [2]:
age = int(input("enter age: "))
sex = input("enter sex: ").lower()

if age >= 20:
    if sex == "f":
        print("an adult female")
    elif sex == "m":
        print("an adult male")
        
elif age >= 13 and age <= 19:
    if sex == "f":
        print("a teenage female")
    elif sex == "m":
        print("a teenage male")
        
elif age <= 12:
    if sex == "f":
        print("a child female")
    elif sex == "m":
        print("a child male")
        
else:
    print("No input available")

enter age: 45
enter sex: f
an adult female

# Tempearture conversion

In [8]:
temp_value = float(input("enter temperature value here: "))
unit = input("enter unit->f/c: ").lower()

if unit == "f":
    temp = (temp_value - 32) * (5/9)
    if temp <= 100:
        kel = 273 + temp
        print(f"the temperature value of {temp_value} fahrenhiet is {round(kel, 3)} kelvin")
    else:
        print(f"the temperature value of {temp_value} fahrenhiet is {round(temp, 3)} celcuis")
        
elif unit == "c":
    temp = (temp_value * (9/5)) + 32
    print(f"the temperature value of {temp_value} celcius is {round(temp, 3)} fahrenheit")
else:
    print("input not understood")

enter temperature value here: 67
enter unit->f/c: f
the temperature value of 67.0 fahrenhiet is 292.444 kelvin

# ASSIGNMENT_ONE

# Question_1
BMI --> BODY MASS INDEX
range of value that constitutes high, low and average

In [3]:
height = float(input("Enter your height in cm: "))
weight = float(input("Enter your weight in kg: "))

BMI = weight / (height/100)**2 #converting cemeters to meters

print(f"You BMI is {BMI}") #printing body mass index

if BMI <= 18.4:
    print("You are underweight or low.")
elif BMI <= 24.9:
    print("You are healthy. average")
elif BMI <= 29.9: 
    print("You are over weight. high")
elif BMI <= 34.9:
    print("You are severely over weight.")
elif BMI <= 39.9:
    print("You are obesity.")
else:
    print("You are severely obesity.")

Enter your height in cm: 83
Enter your weight in kg: 56
You BMI is 81.28901146755697
You are severely obesity.

In [4]:
weight = float(input("enter weight value: "))
height = float(input("enter height value: "))
unit_weight = input("enter unit for weight: ").lower()
unit_height = input("enter unit for height: ").lower()
bmi = (weight/10)/(height**2)

if unit_weight == "n" and unit_height == "m":
    if bmi >=25:
        print(f"my bmi is {bmi} and it is high!")
    elif bmi >=18 and bmi<= 24.9:
        print(f"my bmis is {bmi} and itis average")
    else:
        print(f"this is my bmi value = {bmi} and it is low")


else:
    print("Unit not defined in the program!")
        
# if unit_weight == "p" and unit_height == "ft":
#     if bmi >=29:
#         print("your bmi is high")
#     elif bmi >=15 and bmi<= 28:
#         print("your bmi is average")
#     else:
#         print(f"this is my bmi value = {bmi} and it is low")

enter weight value: 45
enter height value: 56
enter unit for weight: n
enter unit for height: m
this is my bmi value = 0.0014349489795918368 and it is low

In [7]:

weight = float(input("enter weight value (kg): "))
height = float(input("enter height value(m): "))
unit_weight = input("enter unit for weight: ").lower()
unit_height = input("enter unit for height: ").lower()
##bmi = (weight/10)/(height**2)

if unit_weight == "n" and unit_height == "m":
    bmi = (weight*10)/(height**2)
    if bmi >=25:
        print(f"my bmi is {bmi} and it is high!")
    elif bmi >=18 and bmi<= 24.9:
        print(f"my bmis is {bmi} and itis average")
    else:
        print(f"this is my bmi value = {bmi} and it is low")
    
##Convert     
elif unit_weight == "p" and unit_height == "ft":
    bmi = (weight * 2.2046) / ((height*3.28084)**2)
    print(f"{bmi}")
    
else:
    print("Unit not defined in the program!")

enter weight value (kg): 45
enter height value(m): 56
enter unit for weight: p
enter unit for height: ft
0.0029389768174156853

# List and Arrays

In [29]:
x = True
b = ["ada", "tobi", 25, True, False, "James", "Ben", "dan",]
print(type(b))

<class 'list'>

In [30]:
print(b)

['ada', 'tobi', 25, True, False, 'James', 'Ben', 'dan']

In [33]:
len(b[5])

5

In [32]:
b[2:]

[25, True, False, 'James', 'Ben', 'dan']

In [34]:
index_values = b.index("James")
index_values

5

In [35]:
pos = b.index(25)
after = b[pos+1:]
print(after)

[True, False, 'James', 'Ben', 'dan']

In [36]:
pos = b.index(25)
print(pos)

2

In [37]:
after = b[pos+1:]
print(after)

[True, False, 'James', 'Ben', 'dan']

In [38]:
before = b[:pos]
print(before)

['ada', 'tobi']

# class work

1. if the age to vote is from 18 and above
2. and the condition to vote requires a pvc
write a program that ask users for their age and if they have pvc if they do, grant them access to vote if they dont do not grant them access to vote
question 2
if the person is qualified to vote
if the person is from south, east they should vote obi if the person is from north, south west vote asiwju vote atiku

In [102]:
age = int(input("please Enter your age here: "))
pvc = bool(input("Enter True or False: "))
t = True
f = False
if age > 17 and pvc == t:
    
    print("access granted to vote")
    
elif age >18 and pc == f:
   
    print("access denied to vote")
    
else:
    print("access denied to vote!!!")

please Enter your age here: 78
Enter True or False: t
access granted to vote

1. if the age to vote is from 18 and above
2. and the condition to vote requires a pvc
write a program that ask users for their age and if they have pvc if they do, grant them access to vote if they dont do not grant them access to vote
question 2
if the person is qualified to vote
if the person is from south, east they should vote obi if the person is from north, south west vote asiwju vote atiku

In [71]:
age = int(input("enter age: "))
pvc = input("do you have a pvc?: ")
voter = input("where is voter from?: ")

if age >= 18 and pvc == "yes":
    if voter == "south-south" or voter == "east":
        print("vote obi")
    elif voter == "north" or voter == "south-west":
        print ("vote asiwaju!!!")
    else:
        print("vote atiku")
        
elif age < 18 and pvc == "no":
    print("access denied to vote")
else:
    print("access denied to vote!!!")

enter age: 22
do you have a pvc?: yes
where is voter from?: south-west
vote asiwaju!!!

- if change in temperature of a house defines the "livability" of a house
define t1 as input
define t2 as input
calculate the temperature change

- if the temp is less than 0 celcius
define kelvin by adding temperature + 273
if temperature is greater than 500 kelvin say temperature is extremely low
if temperature is less than 500 kelvin say temperature is moderately low


- if the temp is greater than 0 celcius, say temperature is too high

In [39]:
t1 = float(input("enter t1: "))
t2 = float(input("enter t2: "))
temp = t2-t1

if temp < 0:
    kelvin = temp + 273
    if kelvin > 500:
        print(f"{kelvin}kelvin: temperature is extremely low")
    elif kelvin < 500:
        print(f"{kelvin}kelvin: temperature is moderrately low")
        
elif temp > 0:
    print(f"{temp}celcuis: temperature is too high")
    
else:
    print("inputs not understood!!!")

enter t1: 45
enter t2: 6
234.0kelvin: temperature is moderrately low

# Arrays 
-sort()
-append()

In [84]:
a = [1, 5, 10,3]
a.sort()
print(a)

[1, 3, 5, 10]

In [85]:
b = [6, 9, 10, 11]

In [86]:
c = a + b
print(c)

[1, 3, 5, 10, 6, 9, 10, 11]

In [87]:
c.append(True)
print(c)

[1, 3, 5, 10, 6, 9, 10, 11, True]

In [88]:
k =[5, 10, 11]
c.append(k)
print(c)

[1, 3, 5, 10, 6, 9, 10, 11, True, [5, 10, 11]]

# Forloop

In [89]:
arr = [2, 4, 7, 9, 1]
for i in arr:
    print(i)

2
4
7
9
1

In [10]:
for i in arr:
    if i%2 !=0: 
        print(i) #print all the odd number in the array 
                 #% means division sign, i stand for index

7
9
1

In [11]:

arr = [2, 4, 7, 9, 1]
arr1 = []
arr2 = []
for i in arr:
    if i%2 != 0:
        arr1.append(i) 
    if i%2 == 0:
        arr2.append(i) 
print(arr2)# print all the even number in the array
print(arr1)# print all the odd number in the arr

[2, 4]
[7, 9, 1]

In [6]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    print(i)

True
False
10
15.5
21
janeth
tobi
9
True

In [7]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    print(a)

[True, False, 10, 15.5, 21, 'janeth', 'tobi', 9, True]
[True, False, 10, 15.5, 21, 'janeth', 'tobi', 9, True]
[True, False, 10, 15.5, 21, 'janeth', 'tobi', 9, True]
[True, False, 10, 15.5, 21, 'janeth', 'tobi', 9, True]
[True, False, 10, 15.5, 21, 'janeth', 'tobi', 9, True]
[True, False, 10, 15.5, 21, 'janeth', 'tobi', 9, True]
[True, False, 10, 15.5, 21, 'janeth', 'tobi', 9, True]
[True, False, 10, 15.5, 21, 'janeth', 'tobi', 9, True]
[True, False, 10, 15.5, 21, 'janeth', 'tobi', 9, True]

In [111]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    if type(i) == bool:
        print(i)

True
False
True

In [41]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    if type(i) == float:
        print(i)

15.5

In [42]:
print(i)

True

In [43]:
p = []
for i in a:
    if type(i) == bool:
        p.append(i)
print(p)

[True, False, True]

In [44]:
numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i < 10:
        arr.append(i)
print(arr)

[8, 5, 7, 3]

In [113]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    if type(i) == str:
        print(i)

janeth
tobi

In [121]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]
for i in  a:
    if type(i) == int:
        print(i)

10
21
9

In [114]:
numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
for i in numb:
    print(i)

10
16
11
8
12
5
7
3
20

In [115]:

numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i > 10:
        arr.append(i)
print(arr)

[16, 11, 12, 20]

In [117]:

numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i%2 != 0:
        arr.append(i)
print(arr)

[11, 5, 7, 3]

In [118]:
numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i%2 == 0:
        arr.append(i)
print(arr)

[10, 16, 8, 12, 20]

In [120]:
odd_numb = []
even_numb = []
for i in numb:
    if i%2 == 0:
        even_numb.append(i)
    elif i%2 !=0:
        odd_numb.append(i)
print(odd_numb)
print(even_numb)

[11, 5, 7, 3]
[10, 16, 8, 12, 20]

In [126]:
arrays = [10, 3, 56, 76, 45, 37, 5, 10]
print(arrays)

[10, 3, 56, 76, 45, 37, 5, 10]

In [127]:
for i in arrays:
    if i == 10:
        print(i)

10
10

In [128]:
for i in enumerate(arrays):
    print(i)

(0, 10)
(1, 3)
(2, 56)
(3, 76)
(4, 45)
(5, 37)
(6, 5)
(7, 10)

In [129]:
for i, b in enumerate(arrays):
    print(i, b)

0 10
1 3
2 56
3 76
4 45
5 37
6 5
7 10

In [130]:
for i, b in enumerate(arrays):
    if b== 10:
        print(i)

0
7

In [131]:
for i in arrays:
    if i == 10:
        print(arrays.index(i))

0
0

In [132]:
z = [10, 1, 3, 4]
z.index(10)

0

In [133]:
z = [13, 46, 56, 8, 10, 10]
for i in z:
    if i ==10:
        print(z.index(i))

4
4

In [134]:
for i, b in enumerate(z):
    if b == 10:
        print(i)

4
5

In [37]:
k = [5, 1, 5, 10, 11, 9, 5, 1]

index_values = []
for i, b in enumerate(k):
    if b == 5:
        index_values.append(i)
        print(index_values)

[0]
[0, 2]
[0, 2, 6]

In [38]:
for i in enumerate(k):
    print(i)

(0, 5)
(1, 1)
(2, 5)
(3, 10)
(4, 11)
(5, 9)
(6, 5)
(7, 1)

In [39]:
index_values[2]

6

In [40]:
print(index_values)

[0, 2, 6]

In [42]:
index_values[1]

2

In [46]:
k[index_values[1]+1: index_values[2]]

[10, 11, 9]

In [74]:
k[index_values[1]+1:index_values[2]]

[10, 11, 9]

# Assignment_2

1.lists = [11, 10, 8, 12, 1, 5, 6, 8, 10, 1, 8, 22, 8, 7, 4]
get the index values of 8.
 get all the values after the second index value of 8.

2.get all the food that start with a and store it inside and array
  foods = ["apple", "quava", "gari", "beans", "accara", "acute-bones"]

In [13]:
lists = [11, 10, 8, 12, 1, 5, 6, 8, 10, 1, 8, 22, 8, 7, 4]
print(lists)

[11, 10, 8, 12, 1, 5, 6, 8, 10, 1, 8, 22, 8, 7, 4]

In [14]:
for i in enumerate(lists):
    print(i)

(0, 11)
(1, 10)
(2, 8)
(3, 12)
(4, 1)
(5, 5)
(6, 6)
(7, 8)
(8, 10)
(9, 1)
(10, 8)
(11, 22)
(12, 8)
(13, 7)
(14, 4)

In [15]:
for i, b in enumerate(lists):
    print(i, b)

0 11
1 10
2 8
3 12
4 1
5 5
6 6
7 8
8 10
9 1
10 8
11 22
12 8
13 7
14 4

In [16]:
for i, b in enumerate(lists):
    if b == 8:
        print(i)

2
7
10
12

In [17]:
index_val = []
for i, b in enumerate(lists):
    if b == 8:
        index_val.append(i)
print(index_val)

[2, 7, 10, 12]

In [18]:
index_val[2]

10

In [19]:
lists[index_val[1]+1:index_val[3]]

[10, 1, 8, 22]

In [20]:
foods = ["apple", "quava", "gari", "beans", "accara", "acute-bones"]
for i, b in enumerate(foods):
    print(i, b)

0 apple
1 quava
2 gari
3 beans
4 accara
5 acute-bones

In [21]:

foods = ["apple", "quava", "gari", "beans", "accara", "acute-bones"]
index_vals = []
for i, b in enumerate(foods):
    if b == "apple":
        index_vals.append(b)
        print(index_vals)

['apple']

In [30]:
a_foods = []
for i in range(len(foods)):
    pos = foods[i]
    if pos[0] == "a":
        a_foods.append(pos)
print(a_foods)

['apple', 'accara', 'acute-bones']

In [33]:
final_foods = []
for i in foods:
    if i[0] == "a":
        final_foods.append(i)
print(final_foods)

['apple', 'accara', 'acute-bones']

3. if v is found in any of the food, print the food

In [35]:
for i in foods:
    if "v" in i:
        print(i)

quava

In [ ]:
arry = ["tobi", "Caleb", "camy", "samCy"]
#get all the elements that has c in it

In [1]:
arry = ["tobi", "Caleb", "camy", "samCy"]
for i in arry:
    if "c" in i:
        print(i)

camy

In [6]:
arry = ["tobi", "Caleb", "camy", "samCy"]

for i, b in enumerate(arry):
    print(i,b)

0 tobi
1 Caleb
2 camy
3 samCy

In [66]:
arry = ["tobi", "Caleb", "camy", "samCy"]
arry_name = []
for i in arry:
    a = i.lower()
    arry_name.append(a)
print(arry_name)

['tobi', 'caleb', 'camy', 'samcy']

In [67]:
arry = ["tobi", "Caleb", "camy", "samCy"]
for i in range(0, len(arry)):
    if "c" in arry_name[i]:
        print(arry[i])

Caleb
camy
samCy

# RANGE

In [39]:
for i in range(0, 10+1):
    print(i, i+2)

0 2
1 3
2 4
3 5
4 6
5 7
6 8
7 9
8 10
9 11
10 12

In [40]:
for i in range(0, 10+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [41]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
arr =[10, 12 ,8, 6]
for i in range(0, len(arr)):
    print(i, arr[i])

0 10
1 12
2 8
3 6

In [44]:
arr1 = [10, 15, 25, 30]
arr2 = [14, 13, 17, 24]
arr_diff = []
if len(arr) == len(arr2):
    for i in range(0, len(arr2)):
        diff = arr2[i] - arr1[i]
        arr_diff.append(diff)
    print(True)

True

In [52]:
arr1 = [10, 15, 25, 30]
arr2 = [14, 13, 17, 24]
arr_diff = []
if len(arr1) == len(arr2):
    for i in range(0, len(arr2)):
        diff = arr2[i] - arr1[i]
        arr_diff.append(diff)
print(arr_diff)
#else:
   # print(False)
#print(arr_diff)

[4, -2, -8, -6]

In [53]:
names = ["jude", "caleb", "hilda", "denim"]
surname =["emmanuel", "denise", "joe", "kelvin"]
for i in range(0, len(names)):
    fullname = f"{names[i]}, {surname[i]}"
    print(fullname)

jude, emmanuel
caleb, denise
hilda, joe
denim, kelvin

In [59]:
names = ["jude", "caleb", "hilda", "denim"]
surname =["emmanuel", "denise", "joe", "kelvin"]
all_name = []
for i in range(0, len(names)):
    fullname = f"{names[i]}, {surname[i]}"
    #print(fullname)
    all_name.append(fullname)
print(all_name)

['jude, emmanuel', 'caleb, denise', 'hilda, joe', 'denim, kelvin']

# Home_work

In [ ]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"]
ans = ["Jenny Yola", "Obi Tami", "Duke Philips"]

In [19]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"]
arry_name = []
for i in range(0, len(names)):
    a = names[i][0].upper() + names[i][1:]
    b = second_name[i][0].upper() + second_name[i][1:]
    fullname = f"{a} {b}"
    arry_name.append(fullname)
print(arry_name)

['Jenny Yola', 'Obi Tami', 'Duke Philips']

In [49]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"] 
ans = ["jennY yolA", "obI tamI", "dukE philipS"]
 
for i in range(0, len(second_name)):
    a = second_name[i][-1]
    print(a)

a
i
s

In [41]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"] 
ans = ["jennY yolA", "obI tamI", "dukE philipS"]
arry2_name = []
for i in range(0, len(names)):
    a = names[i][:-1] + names[i][-1].upper()
    b = second_name[i][:-1] + second_name[i][-1].upper()
    fullname = f"{a} {b}"
    arry2_name.append(fullname)
print(arry2_name)

['jennY yolA', 'obI tamI', 'dukE philipS']